<p class="product-name">{{product.title}} - ${{product.price}} </p>
<button {{action 'addToCart' product}}>Add to Cart</button>
<img class="thumbnail" src={{product.image}}>
<p>
  {{product.description}}
</p>
