<div class="product">
  <div class="product-title">
    <p class="product-name">{{product.title}} - ${{product.price}} </p>
    <button {{action 'addToCart' product}}>Add to Cart</button>
  </div>
  <img class="thumbnail" src={{product.image}}>
  <p>
    {{product.description}}
  </p>
</div>
