<div class="product">
    <p class="product-name">{{product.title}} - ${{product.price}} </p>
  <img class="thumbnail" src={{product.image}}>
  <p>
    {{product.description}}
  </p>
  <button {{action 'addToCart' product}}>Add to Cart</button>
</div>
