<div class="product-page">
    <p class="product-page-title">
      {{model.title}} - ${{comma-adder model.price}}<br><i>{{model.artist}}, {{model.year}}<br>{{model.country}}</i>
    </p>

  <img class="lg-image" src={{model.image}}>
  <p>
    {{model.description}}
  </p>
  <div class="buttons">
      <button class="add-button product-button" {{action 'addToCart' model}}>Add to Cart</button>
    <button class="remove-button product-button" {{action 'destroyProduct' model}}>Remove</button>
    {{update-product product=model updateProduct="updateProduct"}}
  </div>

</div>
